@charset "UTF-8";

body {
	text-align: center;
}

body>div {
	width: 700px;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid black;
	padding: 2px;
}

table .title {
	text-align: left;
}

table .date {
	width: 150px;
	text-align: center;
}

table .content {
	height: 200px;
	text-align: left;
}

div>div {
	text-align: left;
}

div>div ul, div>div li {
	list-style: none;
	padding: 0;
}

div.answer {
	position: relative;
	margin-top: 15px;
}

div.answer textarea {
	position: absolute;
	left: 0;
	width: 620px;
	height: 100px;
}

div.answer input[type="submit"] {
	position: absolute;
	right: 0;
}