<!doctype html>
<html lang="ko" xmlns:th="https://thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8" name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<!-- sbb CSS -->
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<title>Hello, sbb!</title>
</head>
<body>
	<!-- 메뉴 S -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	<!-- 메뉴 E -->
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content"></th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	<!-- 최하단에 JS 파일 S -->
	<script th:src="@{/bootstrap.min.js}"></script>
	<!-- 최하단에 JS 파일 E -->
</body>
</html>