<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>질문 상세 페이지</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>질문 상세 페이지</h1>
	<div>
		<table>
			<tr>
				<th>제목</th>
				<th class="title"><span th:text="${qitem.subject}">제목</span></th>
			</tr>
			<tbody>
				<tr>
					<th>내용</th>
					<td class="content">[[${qitem.content}]]</td>
				</tr>
			</tbody>
		</table>
		<!-- #lists.size()객체의 갯수 -->
		<h5 th:text="|${#lists.size(qitem.answerList)}개의 답변이 있습니다.|"></h5>
		<div>
			<ul>
				<li th:each="answer : ${qitem.answerList}"
					th:text="${answer.content}"></li>
			</ul>
		</div>

		<!-- url+자바객체 만들기 :/answer/create/ +자바객체, 답변 = content, 전송방식 = post -->
		<form th:action="@{|/answer/create/${qitem.id}|}" method="post">
			<div class="answer">
				<textarea name="content" id="content" rows="15"></textarea>
				<input type="submit" value="답변등록">
			</div>
		</form>

	</div>
</body>
</html>